:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgb(71, 83, 107);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container {
  padding: 0 !important;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    80% 50% at 50% -20%,
    rgb(204, 230, 255),
    transparent
  );
}

.footer {
  background-repeat: no-repeat;
  background-image: radial-gradient(
    80% 50% at 50% -20%,
    rgb(204, 230, 255),
    transparent
  );
}
